.trends{
  position: sticky;
  position: -webkit-sticky;
  top: 1rem;
  background-color: rgb(30,39,50);
  border-radius: 20px;
  margin: 1rem;
  width: 350px;
}

.trends h3{
  padding: 1rem;
}
