.sidebar{
  padding-right: 3rem;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.logo{
  font-size: 2rem !important;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-top: 10px;
}

.tweet{
  background-color: var(--twitter-blue) !important;
  color: white !important;
  padding: 0.7rem 5.3rem !important;
  border-radius: 20px !important;
  font-weight: bold !important;
  transition: background-color 0.15s ease-in !important;
}

.tweet:hover{
  background-color: #1986ce !important;
}

.user__icon{
  font-size: 2.5rem !important;
}

.sidebar__user{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 0.3rem;
  cursor: pointer; 
  margin-top: 3rem;
  border-radius: 40px;
  transition: background-color 0.15s ease-in;
}

.username{
  color: grey;
}

.sidebar__user:hover{
  background-color: rgba(214, 214, 214, 0.13);
}