.tweet__wrapper{
  padding: 1rem;
  margin-top: 0.5rem;
  border-bottom: 1px solid var(--border-color);
}

.home__tweet{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-items: flex-start;
}

.home__form{
  display: flex;
  justify-content: space-between;
}

.tweet__profile{
  font-size: 3rem !important;
}

.tweet__form{
  display: flex;
  gap: 150px;
}

.tweet__input{
  color: #8B98A5;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
  margin-top: 0.5rem;
}

.tweet__input-img{
  color: #8B98A5;
  background-color: transparent;
  border: none;
  font-size: 1rem;
}

.tweet__input:focus, .form__image:focus, .tweet__input-img:focus{
  outline: none;
}

.tweet__button{
  background-color: var(--twitter-blue) !important;
  color: white !important;
  font-weight: bold !important;
  width: 75px !important;
  border-radius: 20px !important;
  transition: background-color 0.15s ease-in !important;
}

.tweet__button:hover{
  background-color: #1986ce !important;
}

.tweet__bottom{
  margin-left: 3rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.tweet__bottom-left{
  display: flex;
}

.tweet__item{
  display: flex;
}

.tweet__icon{
  color: var(--twitter-blue) !important;
  cursor: pointer;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tweet__icon:hover{
  background-color: #56b5f51c;
}