* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --twitter-blue: #1d9bf0;
  --border-color: rgba(128, 128, 128, 0.425);
  background-color: #15202b; 
  color: white;
  font-family: sans-serif;
}

.wrapper{
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  height: fit-content;
}

.sticky__wrapper{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}