.post__wrapper{ 
  padding: 1rem;
  transition: background-color 0.1s ease-in;
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;

}

.post__wrapper:hover{
  background-color: #22313f;
}
.post{
  display: flex;
  gap: 0.5rem;
}

.post__profile{
  font-size: 3rem !important;
}

.post__username{
  color: #8B98A5;
  font-weight: lighter;
}

.post__title{
  font-weight: bold;
  margin-bottom: 1rem;
}

.post__image{
  margin-top: 1rem;
  border-radius: 10px;
  width: 100%;
}

.post__bottom{
  margin-left: 3.5rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.post__bottom-item{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post__bottom{
  color: rgb(155, 155, 155);
}

.post__bottom:last-child{
  margin-right: 6rem;
}

.post__bottom-chat:hover{
  background-color: #1986ce31;
  color: #1986ce;
}

.post__bottom-retweet:hover{
  background-color:rgba(12, 114, 12, 0.137);
  color: rgb(0, 206, 0);
}

.post__bottom-like:hover{
  background-color: rgba(124, 10, 29, 0.24);
  color: rgb(255, 13, 53);
}

.post__bottom-share:hover{
  background-color: #1986ce31;
  color: #1986ce;
}